* {
	font-family: 'Roboto', sans-serif;
}

body {
	margin: 0;
	padding: 0;

	min-height: 100%;
	background-image: url("bg.png");
	background-size: cover;
    background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

.container {
	text-align: center;
}

/* Table */
.mainTable {
	width: 800px;
	margin: 0 auto;
	border-collapse: collapse;

	background: rgba(255, 255, 255, 0.9);
	border-radius: 3px;

	-webkit-box-shadow: 0px 0px 53px -13px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 53px -13px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 53px -13px rgba(0,0,0,0.75);
}

.tdAlignLeft {
	text-align: left;
	width: 55%
}

.tdAlignRight {
	text-align: right;
	width: 15%
}

.mainTable td {
	height: 22px;
	/*border-bottom: 1px solid #9e9e9e;*/
	border-right: 0px;
	border-left: 0px;

	padding: 7px 15px 7px 15px;
}

.mainTable th {
	height: 22px;
	/*border-bottom: 1px solid #9e9e9e;*/
	border-right: 0px;
	border-left: 0px;

	padding: 15px;
}

.mainTable tr:hover {
	background: rgb(247, 247, 247, 0.9);
}

/* Search Field */
.searchField {
	width: 800px;
	height: 50px;
	text-align: center;
	font-size: 40px;
	font-style: bold;

	margin-top: 100px;
	margin-bottom: 50px;

	background: rgba(255, 255, 255, 0.9);

	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;

	-webkit-box-shadow: 0px 0px 53px -13px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 53px -13px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 53px -13px rgba(0,0,0,0.75);
}

.searchField::placeholder {
	color: #0000002f;
	font-size: 30px;
	text-align: center;
	vertical-align: center;
}


.searchField:focus {
	outline: 0px;
}

/* Links */
.links {
	text-decoration: none;
}

/* Gold spans */
span.gold-g {
	color: rgb(221, 153, 53);
 }