* {
	font-family: 'Roboto', sans-serif;
}

html {
	min-height: 100%;
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;

	margin: 0;
	padding: 0;

	background-color: #43bbff;
	background-image: linear-gradient(30deg, #43bbff 0%, #364cff 100%);
	background-attachment: fixed;
}

#root {
	height: 100%;
	width: 100%;
}

.container {
	text-align: center;
	position: relative;
	height: 100%;
	width: 100%;
}

/* Search Box */
.searchBox {
	position: absolute;
	top: 50%;
	width: 100%;
	margin: -167px 0 0 0;

	transition: all .3s ease-in-out;
}

/* Search Field */
.searchField {
	width: 800px;
	height: 50px;
	padding: 0;
	text-align: center;
	font-size: 40px;
	font-style: bold;

	background: rgba(255, 255, 255, 1);

	border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;

	-webkit-box-shadow: 0px 0px 53px -13px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 53px -13px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 53px -13px rgba(0,0,0,0.75);

	transition: all .3s ease-in-out;
}

.searchField::placeholder {
	color: #0000002f;
	font-size: 30px;
	text-align: center;
	vertical-align: center;
}


.searchField:focus {
	outline: 0px;
}

.searchFieldFixed {
	position: fixed;
	top: 0;
	left: 0;
}

/* Title */
.title {
	margin: 0 0 0 0;
	height: 115px;
	color: white;
	font-size: 100px;

	transition: margin .3s ease-in-out;
}

/* Table */
.mainTable {
	width: 800px;
	margin: 35px auto 0 auto;
	border-collapse: collapse;

	opacity: 1;
    transition: opacity .3s ease-in-out;

	background: rgba(255, 255, 255, 1);

	-webkit-box-shadow: 0px 0px 53px -13px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 53px -13px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 53px -13px rgba(0,0,0,0.75);

	border-radius: 2px;
}

.tdAlignLeft {
	text-align: left;
	width: 55%
}

.tdAlignRight {
	text-align: right;
	width: 15%
}

.mainTable td {
	height: 22px;
	/*border-bottom: 1px solid #9e9e9e;*/
	border-right: 0px;
	border-left: 0px;

	padding: 7px 15px 7px 15px;
}

.mainTable th {
	height: 22px;
	/*border-bottom: 1px solid #9e9e9e;*/
	border-right: 0px;
	border-left: 0px;

	padding: 15px;
}

.mainTable tr:hover {
	background: rgb(247, 247, 247, 0.9);
}

/* Links */
.links {
	text-decoration: none;
}

/* Gold spans */
span.gold-g {
	color: rgb(221, 153, 53);
}

/* Navbar */
.navbar {
	width: 700px;
	text-align: center;
	margin: 0 auto;
}

.nav-items {
	display: flex;
	flex-direction: row;
	justify-content: center;

	list-style-type: none;

	padding: 0;
}

.nav-item {
	color: white;
	font-size: 15px;
	padding: 10px 20px;

	cursor: pointer;

	transition: color .2s ease-in-out;
}

.nav-item:hover {
	color: #43BBFF;
}

@media(max-width: 800px) {
	.searchField {
		width: 90%;
	}

	.navbar {
		width: 100%;
	}
}
